// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.hunter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.lifeStocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

.bars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: green;
    border: solid black 1px;
}

#display {
    width: 40vw;
    margin: 20px;
}

.resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}