// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}